extends layout

block content
	#banner.page-header
		.row
			.col-md-6.col-sm-12
				h1= title
	.row
		.col-md-6.col-sm-12
			p Loc8r was created to help...
			
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin finibus nunc ac dolor efficitur, eget lacinia eros blandit. Mauris finibus magna in quam dignissim volutpat. Aenean iaculis viverra nisl porta fringilla. Praesent a tincidunt tortor, molestie fringilla sem. Suspendisse tristique lectus id dapibus gravida.